<h1>Edit Transaction</h1>
<form action="/transactions/updateTransaction" method="post">
  <input type="hidden" name="transactionId" value="<%= transaction._id %>">
  <label for="description">Description</label>
  <input type="text" name="description" value="<%= transaction.description %>">
  <br>
  <label for="amount">Amount</label>
  <input type="number" name="amount" value="<%= transaction.amount %>">
  <br>
  <label for="category">Category</label>
  <input type="text" name="category" value="<%= transaction.category %>">
  <br>
  <label for="date">Date</label>
  <input type="date" name="date" value="<%= transaction.date %>">
  <br>
  <input type="submit" value="Save">
</form>
